/* #region Global */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

.container {
  max-width: 1158;
  padding-left: 15px;
  padding-right: 15px;
}
/* width: 1158px;
  margin: 0 auto;
  padding: 0 15px; */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion Global */

/* #region Header */

.main-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-menu {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.studio-header {
  color: #2e2f42;
}

.nav-menu-list {
  display: flex;
  gap: 40px;
}

.nav-menu-item {
}

.header-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  padding: 24px 0;
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus,
.header-link:active {
  text-decoration: underline;
  color: #404bbf;
}

.header-contacts {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contacts-link {
  color: #434455;
  text-decoration: none;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

/* #endregion Header */

/* #region Hero-section */

.hero-section {
  padding: 188px 0;
  background-color: #2e2f42;
}

.hero-main-text {
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* #endregion Hero-section */

/* #region Features-section */

.features-section {
  padding: 120px 0;
}

.features-list {
  margin-bottom: 8px;
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-main-text {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.features-text {
}

/* #endregion Features-section */

/* #region Team-section */

.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-hero-text {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.team-card-list {
  display: flex;
  gap: 24px;
}

.team-card-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.card-list-item {
  padding: 32px 0;
}

.team-main-text {
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team-card-text {
  text-align: center;
}

/* #endregion Team-section */

/* #region Portfolio-section */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-hero-text {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.portfolio-list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-main-text {
  margin-bottom: 8px;
}

.portfolio-text {
}

/* #endregion Portfolio-section */

/* #region Footer */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.studio-footer {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

/* #endregion Footer */
